.cars {
  --border-radius: 2rem;
  max-width: 1050px;
  margin: 0 auto;

  @media (min-width: 600px)  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem 2rem;
  }
  @media (min-width: 1024px)  {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    &__key {
      flex-basis: 50%;
      font-weight: bold;
    }

    &__value {
      flex-basis: 50%;
    }
  }
  &__item {
    overflow: hidden;
    margin: 0 0 2rem;
    border-radius: var(--border-radius);
    width: 100%;
    background-size: 500%;
    color: var(--card-title);
    background-color: var(--blue);
    
    transition: transform .4s;

    &:hover {
      transform: scale(1.04)
    }

    &__title {
      font-size: 1.1rem;
    }

    &__image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center;
      margin-bottom: 1rem;
      border-radius: 0 0 10% 10%;
      transition: border-radius .3s;
    }

    &__content {
      padding: 0 1rem;

      &__cta {
        margin-bottom: .5rem;
        display: flex;
        justify-content: center;
      }
    }
  }
}