.car-detail {
  --border-radius: 2rem;

  max-width: 700px;
  margin: 0 auto;
  border-radius: var(--border-radius);
  overflow: hidden;

  &__details {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    &__key {
      flex-basis: 50%;
      font-weight: bold;
    }

    &__value {
      flex-basis: 50%;
    }
  }


  &__image-selector {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0 1rem;
    justify-content: center;
    &__image {
      width: 100px;
      height: 100px;
      flex: 0 0 100px;
      margin-right: .5rem;
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }
  }

  &__accessories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: .2rem .5rem;
      background-color: var(--blue);
      border-radius: 20px;
      margin: 0 .5rem .5rem 0;
      color: white;
    }
  }

  &__item {
    border-radius: var(--border-radius);
    width: 100%;
    background-size: 100%;
    color: var(--card-title);
    background-color: var(--blue);
    background-image: var(--card-background-gradient);

    &__title {
      font-size: 1.1rem;
    }

    &__image {
      width: 100%;
      background-size: cover;
      background-position: center;
      margin-bottom: 1rem;
    }

    &__content {
      padding: 0 1rem;

      &__cta {
        margin-bottom: .5rem;
        display: flex;
        justify-content: center;
      }
    }
    
    &__image-wrapper {
      display: flex;
      overflow: hidden;

      &__item {
        display: inline-block;
        flex: 0 0 100%;
        width: 100%;
        height: 300px;
      }
    }
  }
}

.carousel {
  overflow: hidden;
  margin-bottom: .5rem;
  
  &__rail {
    height: 300px;
    min-width: 100%;
    display: flex;
    transform: translateX(calc(-100% * var(--offset, 0)));
    transition: transform .3s ease;
    
    @media (min-width: 600px)  {
      height: 400px;
    }
    @media (min-width: 1024px)  {
      height: 500px;
    }
    &__image {
      background-size: cover;
      background-position: center;
      display: inline-block;
      flex: 0 0 100%;
      width: 100%;
      height: 300px;
      @media (min-width: 600px)  {
        height: 400px;
      }
      @media (min-width: 1024px)  {
        height: 500px;
      }
    }
  }
}