.btn {
  display: inline-block;
  padding: .75rem 2rem;
  margin-bottom: .5rem;
  border: 0;
  border-radius: .5rem;
  background-color: var(--blue-middle);

  color: white;
  font-size: 1rem;
  text-decoration: none;

  transition: background-color .3s;

  cursor: pointer;
  &:hover {
    background-color: var(--blue-dark);
  }
}