:root {
  --blue: #0093E9;
  --blue-middle: #005b90; 
  --blue-dark: #013e62;
  --blue-light: #80D0C7;
  --card-background-gradient: linear-gradient(160deg, var(--blue) 0%, var(--blue-light) 100%);
  --card-title: var(--blue-dark);

  font-family: arial, helvetica, sans-serif;
}